@font-face {
  font-family: "Astro";
  src: url("Astro-ttf.ttf"), url("Astro-woff.woff") format('woff2');
}



#test-svg {
  border: 1px solid black;
}

h1 {
  font-variant: small-caps;
  text-align: center;
  font-size: 3em;
  margin: 0;
  margin-bottom: 1em;
}




#ea-map {
  /* border: 1px solid black; */
  margin: 0 auto;
  display: block;
}

#ea-map text.symbol {
  /* fill: white; */
  font-size: 100px;
  font-family: "Astro";
  transform-origin: 50% 50%;
  text-anchor: middle;
  /* dominant-baseline: middle; */
}
/* #ea-map text.symbol.libra,
#ea-map text.symbol.aquarius {
  dominant-baseline: top;
} */

#ea-map circle {
  fill: none;
}

#ea-map #rays use {
  transform-origin: 50% 50%;
}


#ea-map [id^='signs'] use,
#ea-map [id^='planets'] use {
  /* transform-origin: center; */
  /* transform-origin: 50% 50%; */
  text-anchor: middle; /* horizontal */
  dominant-baseline: middle; /* vertical */
}
#ea-map #signs text.symbol,
#ea-map #signs use {
  /* fill: white; */
  fill: black;
}
#ea-map #signs-5 use, 
#ea-map #signs-5 text.symbol {
  font-size: smaller;
}
#ea-map #signs-5 text.symbol,
#ea-map #planets text.symbol,
#ea-map #signs-5 use,
#ea-map #planets use {
  fill: black;
}


/* #ea-map [xlink\:href='#aries'] { */
#ea-map .cardinal {
  fill: rgba(204, 51, 51, 0.5);
  /* fill: rgb(204, 51, 51); */
  /* fill: rgb(153, 0, 0); */
}
#ea-map .fixed {
  fill: rgba(85, 85, 187, 0.5);
  /* fill: rgb(85, 85, 187); */
  /* fill: rgb(34, 34, 136); */
}
#ea-map .mutable {
  fill: rgba(34, 153, 34, 0.5);
  /* fill: rgb(34, 153, 34); */
  /* fill: rgb(0, 102, 0); */
}


/* SIGNS 1 */
#ea-map #signs-1 .aries.deg30 {
  transform-origin: 1080px 700px; transform: rotate(20deg) translate(1080px, 700px); }
#ea-map #signs-1 .taurus.deg60 {
  transform-origin: 1215px 780px; transform: rotate(50deg) translate(1215px, 780px); }
#ea-map #signs-1 .gemini.deg90 {
  transform-origin: 1295px 915px; transform: rotate(75deg) translate(1295px, 915px); }
#ea-map #signs-1 .cancer.deg120 {
  transform-origin: 1315px 1080px; transform: rotate(-75deg) translate(1315px, 1080px); }
#ea-map #signs-1 .leo.deg150 {
  transform-origin: 1225px 1230px; transform: rotate(-50deg) translate(1225px, 1230px); }
#ea-map #signs-1 .virgo.deg180 {
  transform-origin: 1085px 1315px; transform: rotate(-15deg) translate(1085px, 1315px); }
#ea-map #signs-1 .libra.deg210 {
  transform-origin: 925px 1300px; transform: rotate(10deg) translate(925px, 1300px); }
#ea-map #signs-1 .scorpio.deg240 {
  transform-origin: 770px 1230px; transform: rotate(40deg) translate(770px, 1230px); }
#ea-map #signs-1 .sagittarius.deg270 {
  transform-origin: 680px 1080px; transform: rotate(75deg) translate(680px, 1080px); }
#ea-map #signs-1 .capricorn.deg300 {
  transform-origin: 700px 915px; transform: rotate(-75deg) translate(700px, 915px); }
#ea-map #signs-1 .aquarius.deg330 {
  transform-origin: 775px 775px; transform: rotate(-50deg) translate(775px, 775px); }
#ea-map #signs-1 .pisces.deg360 {
  transform-origin: 920px 700px; transform: rotate(-20deg) translate(920px, 700px); }

/* PLANETS 2 */
#ea-map #planets-2 .uranus.deg10 {
  transform-origin: 1035px 580px; transform: rotate(5deg) scale(0.6) translate(1035px, 580px); }
#ea-map #planets-2 .uranus.deg20 {
  transform-origin: 1110px 595px; transform: rotate(15deg) scale(0.6) translate(1110px, 595px); }
#ea-map #planets-2 .mars.deg30 {
  transform-origin: 1185px 615px; transform: rotate(25deg) scale(0.6) translate(1185px, 615px); }
#ea-map #planets-2 .vulcan.deg40 {
  transform-origin: 1250px 650px; transform: rotate(35deg) scale(0.6) translate(1250px, 650px); }
#ea-map #planets-2 .jupiter.deg50 {
  transform-origin: 1300px 700px; transform: rotate(45deg) scale(0.6) translate(1300px, 700px); }
#ea-map #planets-2 .venus.deg60 {
  transform-origin: 1350px 755px; transform: rotate(55deg) scale(0.6) translate(1350px, 755px); }
#ea-map #planets-2 .earth.deg70 {
  transform-origin: 1390px 820px; transform: rotate(65deg) scale(0.6) translate(1390px, 820px); }
#ea-map #planets-2 .saturn.deg80 {
  transform-origin: 1410px 890px; transform: rotate(75deg) scale(0.6) translate(1410px, 890px); }

/* CHECK ROTATION */
#ea-map #planets-2 .neptune.deg100 {
  transform-origin: 1435px 1040px; transform: rotate(-85deg) scale(0.6) translate(1435px, 1040px); }
#ea-map #planets-2 .pluto.deg110 {
  transform-origin: 1420px 1115px; transform: rotate(-75deg) scale(0.6) translate(1420px, 1115px); }
#ea-map #planets-2 .pluto.deg120 {
  transform-origin: 1395px 1180px; transform: rotate(-65deg) scale(0.6) translate(1395px, 1180px); }
#ea-map #planets-2 .uranus.deg130 {
  transform-origin: 1360px 1250px; transform: rotate(-55deg) scale(0.6) translate(1360px, 1250px); }
#ea-map #planets-2 .mars.deg140 {
  transform-origin: 1305px 1305px; transform: rotate(-45deg) scale(0.6) translate(1305px, 1305px); }
#ea-map #planets-2 .uranus.deg150 {
  transform-origin: 1250px 1360px; transform: rotate(-35deg) scale(0.6) translate(1250px, 1360px); }
#ea-map #planets-2 .jupiter.deg160 {
  transform-origin: 1180px 1395px; transform: rotate(-25deg) scale(0.6) translate(1180px, 1395px); }
#ea-map #planets-2 .venus.deg170 {
  transform-origin: 1110px 1420px; transform: rotate(-15deg) scale(0.6) translate(1110px, 1420px); }
#ea-map #planets-2 .vulcan.deg180 {
  transform-origin: 1035px 1430px; transform: rotate(-5deg) scale(0.6) translate(1035px, 1430px); }
#ea-map #planets-2 .saturn.deg190 {
  transform-origin: 960px 1430px; transform: rotate(5deg) scale(0.6) translate(960px, 1430px); }
#ea-map #planets-2 .earth.deg210 {
  transform-origin: 815px 1395px; transform: rotate(15deg) scale(0.6) translate(815px, 1395px); }
#ea-map #planets-2 .mercury.deg220 {
  transform-origin: 750px 1360px; transform: rotate(25deg) scale(0.6) translate(750px, 1360px); }









/* SIGNS 5 */
#ea-map #signs-5 .aries.deg10 {
  transform-origin: 1060px 330px; transform: rotate(5deg) scale(0.75) translate(1060px, 330px); }
#ea-map #signs-5 .leo.deg20 {
  transform-origin: 1175px 350px; transform: rotate(15deg) scale(0.75) translate(1175px, 350px); }
#ea-map #signs-5 .sagittarius.deg30 {
  transform-origin: 1285px 395px; transform: rotate(25deg) scale(0.75) translate(1285px, 395px); }
#ea-map #signs-5 .taurus.deg40 {
  transform-origin: 1390px 450px; transform: rotate(35deg) scale(0.75) translate(1390px, 450px); }
#ea-map #signs-5 .virgo.deg50 {
  transform-origin: 1475px 525px; transform: rotate(45deg) scale(0.75) translate(1475px, 525px); }
#ea-map #signs-5 .capricorn.deg60 {
  transform-origin: 1550px 610px; transform: rotate(55deg) scale(0.75) translate(1550px, 610px); }
#ea-map #signs-5 .gemini.deg70 {
  transform-origin: 1605px 715px; transform: rotate(65deg) scale(0.75) translate(1605px, 715px); }
#ea-map #signs-5 .libra.deg80 {
  transform-origin: 1660px 825px; transform: rotate(75deg) scale(0.75) translate(1660px, 825px); }
#ea-map #signs-5 .aquarius.deg90 {
  transform-origin: 1680px 945px; transform: rotate(85deg) scale(0.75) translate(1680px, 945px); }
#ea-map #signs-5 .cancer.deg100 {
  transform-origin: 1685px 1060px; transform: rotate(-85deg) scale(0.75) translate(1685px, 1060px); }
#ea-map #signs-5 .scorpio.deg110 {
  transform-origin: 1665px 1175px; transform: rotate(-75deg) scale(0.75) translate(1665px, 1175px); }
#ea-map #signs-5 .pisces.deg120 {
  transform-origin: 1620px 1290px; transform: rotate(-65deg) scale(0.75) translate(1620px, 1290px); }
#ea-map #signs-5 .leo.deg130 {
  transform-origin: 1560px 1395px; transform: rotate(-55deg) scale(0.75) translate(1560px, 1395px); }
#ea-map #signs-5 .sagittarius.deg140 {
  transform-origin: 1490px 1485px; transform: rotate(-45deg) scale(0.75) translate(1490px, 1485px); }
#ea-map #signs-5 .aries.deg150 {
  transform-origin: 1395px 1560px; transform: rotate(-35deg) scale(0.75) translate(1395px, 1560px); }
#ea-map #signs-5 .virgo.deg160 {
  transform-origin: 1290px 1620px; transform: rotate(-25deg) scale(0.75) translate(1290px, 1620px); }
#ea-map #signs-5 .capricorn.deg170 {
  transform-origin: 1180px 1665px; transform: rotate(-15deg) scale(0.75) translate(1180px, 1665px); }
#ea-map #signs-5 .taurus.deg180 {
  transform-origin: 1060px 1685px; transform: rotate(-5deg) scale(0.75) translate(1060px, 1685px); }
#ea-map #signs-5 .libra.deg190 {
  transform-origin: 945px 1675px; transform: rotate(5deg) scale(0.75) translate(945px, 1675px); }
#ea-map #signs-5 .aquarius.deg200 {
  transform-origin: 825px 1660px; transform: rotate(15deg) scale(0.75) translate(825px, 1660px); }
#ea-map #signs-5 .gemini.deg210 {
  transform-origin: 710px 1620px; transform: rotate(25deg) scale(0.75) translate(710px, 1620px); }
#ea-map #signs-5 .scorpio.deg220 {
  transform-origin: 605px 1560px; transform: rotate(35deg) scale(0.75) translate(605px, 1560px); }
#ea-map #signs-5 .pisces.deg230 {
  transform-origin: 510px 1490px; transform: rotate(45deg) scale(0.75) translate(510px, 1490px); }
#ea-map #signs-5 .cancer.deg240 {
  transform-origin: 440px 1395px; transform: rotate(55deg) scale(0.75) translate(440px, 1395px); }
#ea-map #signs-5 .sagittarius.deg250 {
  transform-origin: 380px 1295px; transform: rotate(65deg) scale(0.75) translate(380px, 1295px); }
#ea-map #signs-5 .aries.deg260 {
  transform-origin: 335px 1175px; transform: rotate(75deg) scale(0.75) translate(335px, 1175px); }
#ea-map #signs-5 .leo.deg270 {
  transform-origin: 320px 1060px; transform: rotate(85deg) scale(0.75) translate(320px, 1060px); }
#ea-map #signs-5 .capricorn.deg280 {
  transform-origin: 330px 945px; transform: rotate(-85deg) scale(0.75) translate(330px, 945px); }
#ea-map #signs-5 .taurus.deg290 {
  transform-origin: 350px 825px; transform: rotate(-75deg) scale(0.75) translate(350px, 825px); }
#ea-map #signs-5 .virgo.deg300 {
  transform-origin: 395px 715px; transform: rotate(-65deg) scale(0.75) translate(395px, 715px); }
#ea-map #signs-5 .aquarius.deg310 {
  transform-origin: 450px 610px; transform: rotate(-55deg) scale(0.75) translate(450px, 610px); }
#ea-map #signs-5 .gemini.deg320 {
  transform-origin: 525px 525px; transform: rotate(-45deg) scale(0.75) translate(525px, 525px); }
#ea-map #signs-5 .libra.deg330 {
  transform-origin: 610px 445px; transform: rotate(-35deg) scale(0.75) translate(610px, 445px); }
#ea-map #signs-5 .pisces.deg340 {
  transform-origin: 715px 395px; transform: rotate(-25deg) scale(0.75) translate(715px, 395px); }
#ea-map #signs-5 .cancer.deg350 {
  transform-origin: 825px 350px; transform: rotate(-15deg) scale(0.75) translate(825px, 350px); }
#ea-map #signs-5 .scorpio.deg360 {
  transform-origin: 945px 330px; transform: rotate(-5deg) scale(0.75) translate(945px, 330px); }





/* SAFARI HACK */
@supports (-webkit-hyphens:none) { 
  /* SIGNS 1 */
  #ea-map #signs-1 .aries.deg30 {
    transform-origin: 1075px 725px; transform: rotate(20deg) translate(1075px,725px); }
  #ea-map #signs-1 .taurus.deg60 {
    transform-origin: 1200px 795px; transform: rotate(50deg) translate(1200px, 795px); }
  #ea-map #signs-1 .gemini.deg90 {
    transform-origin: 1275px 920px; transform: rotate(75deg) translate(1275px, 920px); }
  #ea-map #signs-1 .cancer.deg120 {
    transform-origin: 1335px 1090px; transform: rotate(-75deg) translate(1335px, 1090px); }
  #ea-map #signs-1 .leo.deg150 {
    transform-origin: 1245px 1245px; transform: rotate(-50deg) translate(1245px, 1245px); }
  #ea-map #signs-1 .virgo.deg180 {
    transform-origin: 1090px 1335px; transform: rotate(-15deg) translate(1090px, 1335px); }
  #ea-map #signs-1 .libra.deg210 {
    transform-origin: 920px 1320px; transform: rotate(10deg) translate(920px, 1320px); }
  #ea-map #signs-1 .scorpio.deg240 {
    transform-origin: 755px 1245px; transform: rotate(40deg) translate(755px, 1245px); }
  #ea-map #signs-1 .sagittarius.deg270 {
    transform-origin: 660px 1090px; transform: rotate(70deg) translate(660px, 1090px); }
  #ea-map #signs-1 .capricorn.deg300 {
    transform-origin: 725px 920px; transform: rotate(-75deg) translate(725px, 920px); }
  #ea-map #signs-1 .aquarius.deg330 {
    transform-origin: 790px 790px; transform: rotate(-50deg) translate(790px, 790px); }
  #ea-map #signs-1 .pisces.deg360 {
    transform-origin: 920px 720px; transform: rotate(-20deg) translate(920px, 720px); }

  /* SIGNS 5 */
  #ea-map #signs-5 .aries.deg10 {
    transform-origin: 1060px 345px; transform: rotate(5deg) scale(0.75) translate(1060px, 345px); }
  #ea-map #signs-5 .leo.deg20 {
    transform-origin: 1175px 365px; transform: rotate(15deg) scale(0.75) translate(1175px, 365px); }
  #ea-map #signs-5 .sagittarius.deg30 {
    transform-origin: 1280px 405px; transform: rotate(25deg) scale(0.75) translate(1280px, 405px); }
  #ea-map #signs-5 .taurus.deg40 {
    transform-origin: 1380px 460px; transform: rotate(35deg) scale(0.75) translate(1380px, 460px); }
  #ea-map #signs-5 .virgo.deg50 {
    transform-origin: 1465px 535px; transform: rotate(45deg) scale(0.75) translate(1465px, 535px); }
  #ea-map #signs-5 .capricorn.deg60 {
    transform-origin: 1540px 620px; transform: rotate(55deg) scale(0.75) translate(1540px, 620px); }
  #ea-map #signs-5 .gemini.deg70 {
    transform-origin: 1595px 720px; transform: rotate(65deg) scale(0.75) translate(1595px, 720px); }
  #ea-map #signs-5 .libra.deg80 {
    transform-origin: 1645px 825px; transform: rotate(75deg) scale(0.75) translate(1645px, 825px); }
  #ea-map #signs-5 .aquarius.deg90 {
    transform-origin: 1660px 945px; transform: rotate(85deg) scale(0.75) translate(1660px, 945px); }
  #ea-map #signs-5 .cancer.deg100 {
    transform-origin: 1700px 1060px; transform: rotate(-85deg) scale(0.75) translate(1700px, 1060px); }
  #ea-map #signs-5 .scorpio.deg110 {
    transform-origin: 1675px 1180px; transform: rotate(-75deg) scale(0.75) translate(1675px, 1180px); }
  #ea-map #signs-5 .pisces.deg120 {
    transform-origin: 1635px 1295px; transform: rotate(-65deg) scale(0.75) translate(1635px, 1295px); }
  #ea-map #signs-5 .leo.deg130 {
    transform-origin: 1575px 1400px; transform: rotate(-55deg) scale(0.75) translate(1575px, 1400px); }
  #ea-map #signs-5 .sagittarius.deg140 {
    transform-origin: 1500px 1495px; transform: rotate(-45deg) scale(0.75) translate(1500px, 1495px); }
  #ea-map #signs-5 .aries.deg150 {
    transform-origin: 1400px 1575px; transform: rotate(-35deg) scale(0.75) translate(1400px, 1575px); }
  #ea-map #signs-5 .virgo.deg160 {
    transform-origin: 1295px 1635px; transform: rotate(-25deg) scale(0.75) translate(1295px, 1635px); }
  #ea-map #signs-5 .capricorn.deg170 {
    transform-origin: 1180px 1675px; transform: rotate(-15deg) scale(0.75) translate(1180px, 1675px); }
  #ea-map #signs-5 .taurus.deg180 {
    transform-origin: 1060px 1695px; transform: rotate(-5deg) scale(0.75) translate(1060px, 1695px); }
  #ea-map #signs-5 .libra.deg190 {
    transform-origin: 940px 1685px; transform: rotate(5deg) scale(0.75) translate(940px, 1685px); }
  #ea-map #signs-5 .aquarius.deg200 {
    transform-origin: 820px 1675px; transform: rotate(15deg) scale(0.75) translate(820px, 1675px); }
  #ea-map #signs-5 .gemini.deg210 {
    transform-origin: 705px 1640px; transform: rotate(25deg) scale(0.75) translate(705px, 1640px); }
  #ea-map #signs-5 .scorpio.deg220 {
    transform-origin: 600px 1575px; transform: rotate(35deg) scale(0.75) translate(600px, 1575px); }
  #ea-map #signs-5 .pisces.deg230 {
    transform-origin: 505px 1495px; transform: rotate(45deg) scale(0.75) translate(505px, 1495px); }
  #ea-map #signs-5 .cancer.deg240 {
    transform-origin: 425px 1405px; transform: rotate(55deg) scale(0.75) translate(425px, 1405px); }
  #ea-map #signs-5 .sagittarius.deg250 {
    transform-origin: 370px 1300px; transform: rotate(65deg) scale(0.75) translate(370px, 1300px); }
  #ea-map #signs-5 .aries.deg260 {
    transform-origin: 320px 1180px; transform: rotate(75deg) scale(0.75) translate(320px, 1180px); }
  #ea-map #signs-5 .leo.deg270 {
    transform-origin: 305px 1060px; transform: rotate(85deg) scale(0.75) translate(305px, 1060px); }
  #ea-map #signs-5 .capricorn.deg280 {
    transform-origin: 345px 945px; transform: rotate(-85deg) scale(0.75) translate(345px, 945px); }
  #ea-map #signs-5 .taurus.deg290 {
    transform-origin: 365px 830px; transform: rotate(-75deg) scale(0.75) translate(365px, 830px); }
  #ea-map #signs-5 .virgo.deg300 {
    transform-origin: 405px 720px; transform: rotate(-65deg) scale(0.75) translate(405px, 720px); }
  #ea-map #signs-5 .aquarius.deg310 {
    transform-origin: 460px 620px; transform: rotate(-55deg) scale(0.75) translate(460px, 620px); }
  #ea-map #signs-5 .gemini.deg320 {
    transform-origin: 535px 535px; transform: rotate(-45deg) scale(0.75) translate(535px, 535px); }
  #ea-map #signs-5 .libra.deg330 {
    transform-origin: 615px 450px; transform: rotate(-35deg) scale(0.75) translate(615px, 450px); }
  #ea-map #signs-5 .pisces.deg340 {
    transform-origin: 720px 405px; transform: rotate(-25deg) scale(0.75) translate(720px, 405px); }
  #ea-map #signs-5 .cancer.deg350 {
    transform-origin: 830px 365px; transform: rotate(-15deg) scale(0.75) translate(830px, 365px); }
  #ea-map #signs-5 .scorpio.deg360 {
    transform-origin: 945px 350px; transform: rotate(-5deg) scale(0.75) translate(945px, 350px); }


}
