@font-face {
  font-family: "Astro";
  src: url("Astro-ttf.ttf"), url("Astro-woff.woff") format('woff2');
}



#test-svg {
  border: 1px solid black;
}

h1 {
  font-variant: small-caps;
  text-align: center;
  font-size: 3em;
  margin: 0;
  margin-bottom: 1em;
}




#ea-map {
  /* border: 1px solid black; */
  margin: 0 auto;
  display: block;
}

#ea-map text.symbol {
  /* fill: white; */
  font-size: 100px;
  font-family: "Astro";
  transform-origin: 50% 50%;
  text-anchor: middle;
  /* dominant-baseline: middle; */
}
/* #ea-map text.symbol.libra,
#ea-map text.symbol.aquarius {
  dominant-baseline: top;
} */

#ea-map circle {
  fill: none;
}

#ea-map #rays use {
  transform-origin: 50% 50%;
}


#ea-map [id^='signs'] use,
#ea-map [id^='planets'] use {
  /* transform-origin: center; */
  /* transform-origin: 50% 50%; */
  text-anchor: middle; /* horizontal */
  dominant-baseline: middle; /* vertical */
}
#ea-map #signs text.symbol,
#ea-map #signs use {
  /* fill: white; */
  fill: black;
}
#ea-map #signs-5 use, 
#ea-map #signs-5 text.symbol {
  font-size: smaller;
}
#ea-map #signs-5 text.symbol,
#ea-map #planets text.symbol,
#ea-map #signs-5 use,
#ea-map #planets use {
  fill: black;
}


/* #ea-map [xlink\:href='#aries'] { */
#ea-map .cardinal {
  fill: rgba(204, 51, 51, 0.5);
  /* fill: rgb(204, 51, 51); */
  /* fill: rgb(153, 0, 0); */
}
#ea-map .fixed {
  fill: rgba(85, 85, 187, 0.5);
  /* fill: rgb(85, 85, 187); */
  /* fill: rgb(34, 34, 136); */
}
#ea-map .mutable {
  fill: rgba(34, 153, 34, 0.5);
  /* fill: rgb(34, 153, 34); */
  /* fill: rgb(0, 102, 0); */
}



#ea-map #signs-1 .aries {
  transform-origin: 1080px 695px;
  transform: rotate(20deg) translate(1080px, 695px);
}
#ea-map #signs-1 .taurus {
  transform-origin: 1225px 775px;
  transform: rotate(50deg) translate(1225px, 775px);
}
#ea-map #signs-1 .gemini {
  transform-origin: 1310px 915px;
  transform: rotate(75deg) translate(1310px, 915px);
}
#ea-map #signs-1 .cancer {
  transform-origin: 1310px 1080px;
  transform: rotate(290deg) translate(1310px, 1080px);
}
#ea-map #signs-1 .leo {
  transform-origin: 1225px 1225px;
  transform: rotate(310deg) translate(1225px, 1225px);
}
#ea-map #signs-1 .virgo {
  transform-origin: 1080px 1300px;
  transform: rotate(345deg) translate(1080px, 1300px);
}
#ea-map #signs-1 .libra {
  transform-origin: 920px 1290px;
  transform: rotate(10deg) translate(920px, 1290px);
}
#ea-map #signs-1 .scorpio {
  transform-origin: 775px 1225px;
  transform: rotate(40deg) translate(775px, 1225px);
}





_::-webkit-full-page-media, _:future, :root {

  background-color: cyan; 

}

@media not all and (min-resolution:.001dpcm) { @media {

    body { 

        background-color: yellow; 

    }
}}